<div class="row">
    <div class="col-12 col-m-12 col-sm-12">
        <div class="container-header">
            <img src="image/icon/logo.png" alt="ABCShop">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter">
            <p>
                <i class="fa fa-pie-chart"></i>
            </p>
            <h3>100+</h3>
            <p>Tổng sản phẩm</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter">
            <p>
                <i class="fa fa-users" ></i>
            </p>
            <h3>0897</h3>
            <p>Tổng thành viên</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter">
            <p>
                <i class="fa fa-newspaper-o"></i>
            </p>
            <h3>100+</h3>
            <p>Số bài đăng</p>
        </div>
    </div>
    <div class="col-3 col-m-6 col-sm-6">
        <div class="counter">
            <p>
                <i class="fa fa-laptop"></i>
            </p>
            <h3>100+</h3>
            <p>Số người<br/> truy cập</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>
                    Danh sách thành viên
                    <i class="fa fa-users"></i>
                </h3>
                <div class="card-header-right">
                    <a href="">Xem tòan bộ</a>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="card-content overlay-scrollbar">
                <table>
                    <thead>
                        <tr>
                            <th>stt</th>
                            <th>Tên</th>
                            <th>Ngày sinh</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>React</td>
                            <td>1/1/2020</td>
                            <td>Tran Anh Tuat,TPHCM</td>
                            <td>0123456789</td>
                            <td>test@gmail.com</td>
                            <!-- <td>
                                <span class="dot">
                                    <i class="bg-success"></i>
                                    Completed
                                </span>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4 col-m-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>
                    Sản phẩm của các hãng
                </h3>
            </div>
            <div class="card-content">
                <div class="progress-wrapper">
                    <p>
                        Casio
                        <span class="float-right">50%</span>
                    </p>
                    <div class="progress">
                        <div class="bg-success" style="width: 50%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <p>
                        Citizent
                        <span class="float-right">90%</span>
                    </p>
                    <div class="progress">
                        <div class="bg-primary" style="width:90%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <p>
                        G-shock
                        <span class="float-right">40%</span>
                    </p>
                    <div class="progress">
                        <div class="bg-warning" style="width:40%"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <p>
                        DANIEL WELLINGTON
                        <span class="float-right">20%</span>
                    </p>
                    <div class="progress">
                        <div class="bg-danger" style="width:20%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	