<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Admin</title>
	<link rel="stylesheet" href="./css/reposive.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<!-- loader page -->
	<div class="loader-page" id="loading">
		<div class="loader">
		  <div class="inner one"></div>
		  <div class="inner two"></div>
		  <div class="inner three"></div>
		</div>
	</div>


	
	<script src="./js/main.js">	</script>
</body>
</html>