<%include include/head%>
<body>
    <%include include/loader%>
    <div class="container-login">
		<div class="login">
			<div class='head'>
				<img src="./image/icon/logo.png">
				<h1 class='company'>Login</h1>
				<% if(messenger){ %>
				<span class="mess-err"><%= messenger%></span>
				<% } %>
			</div>
			<div class='form'>
				<form method="POST" action="/login">
					<input type="text" placeholder='Username' class='text' id='email' name="email" required><br>
					<input type="password" placeholder='password' class='password' name="password" required><br>
					<button type="submit" class='btn-login' id='do-login'>Login</button>
					<a href="#" class='forgot'>Forgot?</a>
				</form>
			</div>
		</div>
	</div>
</body>
<%include include/footer%>