<%include include/head%>
<body>
    <%include include/loader%>
    <div class="container-login">
		<div class="login">
			<div class='head'>
				<img src="./image/icon/logo.png">
				<h1 class='company'>Login</h1>
			</div>
			<div class='form'>
				<form>
					<input type="text" placeholder='Username' class='text' id='username' required><br>
					<input type="password" placeholder='••••••••••••••' class='password' required><br>
					<a href="#" class='btn-login' id='do-login'>Login</a>
					<a href="#" class='forgot'>Forgot?</a>
				</form>
			</div>
		</div>
	</div>
</body>
<%include include/footer%>