<!-- menu -->
<div class="sidebar">
    <div class="sidebar-nav">
        <div class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link active">
                <div class="icon-sidebar">
                    <i class="fa fa-home" ></i>
                </div>
                <span>
                    Trang chủ
                </span>
            </a>
        </div>
        <div class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div class="icon-sidebar">
                    <i class="fa fa-th" ></i>
                </div>
                <span>
                    Quản lý sản phẩm
                </span>
            </a>
        </div>
        <div class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div class="icon-sidebar">
                    <i class="fa fa-user" ></i>
                </div>
                <span>
                    Quản lý User
                </span>
            </a>
        </div>
        <div class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div class="icon-sidebar">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <span>
                    Quản lý bài đăng
                </span>
            </a>
        </div>
        <div class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div class="icon-sidebar">
                    <i class="fa fa-cogs" ></i>
                </div>
                <span>
                    Cài đặt trang
                </span>
            </a>
        </div>
    </div>
</div>
<!-- end menu -->