<ul id="notification-menu" class="dropdown-menu notification-menu">
    <div class="dropdown-menu-header">
        <span>Notification</span>
    </div>
    <div class="dropdown-menu-content overlay-scrollbar">
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-tasks"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-tasks"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>
                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>

                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-tasks"></i>

                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>

                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-flag-o"></i>

                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-tasks"></i>

                </div>
                <span>
                    add new item.sàddsgwahasfdkjghbsdakjbg
                    <span>
                        1/1/2020
                    </span>
                </span>
            </a>
        </li>
        <!-- <div class="dropdown-menu-footer">
            view all notification
        </div> -->
    </div>
</ul>