<div class="avatar">
    <img src="image/5_hinh_tren.jpg" alt="avatar" class="dropdown-toggle" data-toggle="user-menu">
    <ul id="user-menu" class="dropdown-menu">
        <li class="dropdown-menu-item">
            <a href="/profile" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-user"></i>
                </div>
                <span>Profile</span>
            </a>
        </li>
        <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
                <div>
                    <i class="fa fa-cog"></i>
                </div>
                <span>Setting</span>
            </a>

        </li>
        <li class="dropdown-menu-item">
            <div class="dropdown-menu-link" id="mode-dark-light">
                <label class="checkbox-theme" for="cbx-theme">
                     <input type="checkbox" id="cbx-theme">
                     <i class="fa fa-moon-o" id="dark-mode"></i>
                     <i class="fa fa-sun-o" id="light-mode"></i>	
                </label>
                <span id="txt-mode"> Dark Mode </span>
            </div>
        </li>
        <li class="dropdown-menu-item">
            <a href="/logout" class="dropdown-menu-link" >
                <div>
                    <i class="fa fa-sign-out"></i>
                </div>
                <span >Logout</span>
            </a>
        </li>
    </ul>
</div>